DATABASE_URL=postgresql://user:password@localhost:5432/boilerplate
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3001/auth/google/callback
PORT=3001
FRONT_URL=http://localhost:3000
